<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Discord, Bot, Dashboard, App, Server, Parrot, Painel, Servidor">

    <meta property="og:title" content="Periquitosvaldo - Discord Bot">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A Melhor Aplicação para o seu Servidor Discord!">
    <meta property="og:locale" content="pt-BR">
    <meta property="og:url" content="/support">
    <meta property="og:site_name" content="Periquitosvaldo Website">
    <meta property="og:image" content="/assets/banner.png">

    <link rel="shortcut icon" href="/assets/icon.ico" type="image/ico" />

    <meta name="theme-color" content="#008000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#008000">
    <meta name="msapplication-navbutton-color" content="#008000">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@TiaGoiNsaNy">
    <meta name="twitter:creator" content="@TiaGoiNsaNy">
    <meta name="twitter:title" content="Periquitosvaldo - Discord Bot">
    <meta name="twitter:description" content="A Melhor Aplicação para o seu Servidor Discord!">
    <meta name="twitter:image:src" content="/assets/banner.png">

    <meta name="author" content="TiaGoiNsaNy">
    <meta name="copyright" content="TiaGoiNsaNy">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Periquitosvaldo | Sobre Mim</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img
                src="https://cdn.discordapp.com/avatars/719557072429252618/e8b67685bc1a2686a7de6873d5861b5e.png?size=256"
                alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="/support">Suporte</a></li>
                <li><a href="/commands">Comandos</a></li>
                <li><a href="/about">Sobre</a></li>
            </ul>
        </nav>
        <a class="cta" href="/login">Login</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/support">Suporte</a>
            <a href="/commands">Comandos</a>
            <a href="/about">Sobre</a>
            <a href="/login">Login</a>
        </div>
    </div>

    <div class="about">
        <h1><i class="fas fa-robot"></i> Sobre o Periquitosvaldo Bot</h1>
        <p>O Periquitosvaldo é uma Aplicação para seu Servidor Discord, com o objetivo de turbina-lo. Sendo desenvolvido pelo <strong>TiaGoiNsaNy</strong>, e tem a ideia de ser uma aplicação 100% customizavel. Assim podendo ser aceito por qualquer comunidade do Discord!</p>

        <p>Com vários sistemas incriveis que vão deixar o seu Servidor Impecável! Como o sistema dedicado aos Servidores de Desenvolvimento de Aplicação do Discord, geralmente chamados de Laboratório ou BotList. Ondo você pode configurar cargos para verificadores, aplicações e desenvolvedores verificados, também tendo configurações de canais de Logs!</p>

        <p>E também possuindo um sistema de Boas-Vindas, que envia notificações dos novos membros do seu servidor, essa notificação vem junto com uma imagem com o Avatar, Nome e Descriminidaor do novo membro. Assim possuindo uma mensagem junta com a imagem 100% costumizavel!</p>
    
        <h1><i class="fas fa-crow"></i> Sobre o Personagem</h1>

        <p>O Periquitosvaldo realmente existiu e foi um mascote do <strong>TiaGoiNsaNy</strong>, e o Avatar foi uma foto tirada na época que o Tia estudava fotografia, e no momento perfeito foi tirado essa linda foto. Mais nem tudo é um mar de flores, e infelizmente o nosso lindo Periquitosvaldo teve que ser doado para uma outra família, pois não tinhamos uma condição financeira para poder dar uma boa condição de vida. Não sei se ele está vivo no momento, mais espero muito que esteja, e o motivo de ter criado o Periquitosvaldo Bot foi para suprir essa falta que eu sinto.</p>

        <h1><i class="fas fa-question"></i> Perguntas Frequentes</h1>

        <ul>
            <li><strong>1º Qual o Prefixo do Periquitosvaldo?</strong> O Prefixo do Periquitosvaldo é <code>p.</code>, mais pode ser customizado usando o comando <code>setprefix</code>!</li>
            <li><strong>2º Encontrei um Problema nos Comandos, onde reporto?</strong> Você pode enviar o seu reporte no servidor de suporte do Periquitosvaldo, para poder entrar no servidor, <a href="/support">Clique Aqui</a>!</li>
            <li><strong>3º Como posso enviar um Voto?</strong> Atualmente o Periquitosvaldo possui um unico meio de sistema de votos, fornecido pelo Zuraaa. Para realizar seu voto, <a href="/upvote">Clique Aqui</a>!</li>
            <li><strong>4º Gostei do Periquitosvaldo, onde posso fazer um Donate?</strong> Doações ajudam os desenvolvedores a continuarem com o projeto, assim podendo pagar os custos de hospedagem do Periquitosvaldo, caso queira deixar os desenvolvedores felizes, <a href="/donate">Clique Aqui</a>!</li>
        </ul>
    </div>

    <footer>
        <div class="links">
            <a href="/twitter"><i class="fab fa-twitter"></a></i>
            <a href="/github"><i class="fab fa-github"></i></a>
            <a href="/support"><i class="fab fa-discord"></i></a>
        </div>
        <p class="copy">&copy; 2021 Periquitosvaldo Bot | Todos os Direitos Reservados.</p>
        <p class="designer">Website by TiaGoiNsaNy</p>
    </footer>
    <script src="../../scripts/screamMobile.js"></script>
</body>

</html>